.profile-page {
    display: grid;
    grid-template-rows: auto auto; 
    grid-template-columns: 1fr 4fr; 
    grid-gap: 10px; 
    padding: 20px;
}

.profile-card-div {
    width: 90%;
    margin: 2rem; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recently-added-div {
    width: 90%;
    margin: 2rem auto; 
    grid-column: 2/5; 
    grid-row: 1;
    border: 5px solid #DDB79E;
    border-radius: 12px;
    padding: 20px; 
    background-color: #FFFBFB;
    align-self: center; 
}

.profile-buttons-div button,
.profile-buttons-div a {
    max-width: 8rem;
    padding: 8px 12px;
    text-align: center;
    max-height: 2.5rem;
}

.profile-buttons-div a {
    margin-top: 0;
}
.library-button,
.wishlist-button,
.readinglist-button {
    margin-top: 1rem;
}

.editbutton{
    display: none;
}

.profile-buttons-div {
    display: flex;
    justify-content: space-around;
    grid-column: 1/6; 
    grid-row: 2; 
}



@media (max-width: 1024px) {
    .profile-page {
        grid-template-columns: 1fr; 
        grid-template-rows: auto auto auto;
    }

    .profile-card-div {
        margin: 1rem;
    }

    .recently-added-div {
        grid-column: 1; 
        grid-row: 2; 
        margin: 1rem;
    }

    .profile-buttons-div {
        grid-column: 1;
        grid-row: 3;
        flex-wrap: wrap; 
        justify-content: center;
    }

    .profile-buttons-div button,
    .profile-buttons-div a {
        margin: 0.5rem;
        max-width: 6rem; 
    }

    .editbutton-desktop {
        display: none;
    }

    .editbutton {
        display: flex;
    }
}

@media (max-width: 768px) {
    .profile-page {
        grid-template-columns: 1fr; 
        grid-gap: 5px;
    }

    .profile-card-div,
    .recently-added-div {
        margin: 1rem;
    }

    .recently-added-div {
        padding: 10px; 
        border-width: 3px; 
    }

    .profile-buttons-div {
        flex-wrap: wrap;
        justify-content: center; 
    }

    .profile-buttons-div button,
    .profile-buttons-div a {
        max-width: 5rem;
        padding: 6px 8px;
    }

    .profile-buttons-div button {
        padding: 6px 8px;
    }

    .editbutton-desktop{
        display: none;
    }

    .editbutton {
        display: flex;
    }
}
