body{
    background-image: url('syksytausta.jpg');
    background-size: cover;

}


.container   {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ffffff;
    border: 6px solid #DDB79E;
    border-radius: 5%;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    padding: 20px;
}

.form {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.form input {
    padding: 10px;
    margin: 5px 0 15px 0;
    border: 1px solid #803503;
    border-radius: 15px;
    background-color: #f3e8de94;
    width: 90%;
}

.error-message {
    color: red;
    font-size: 10px;
    margin: 0;
}

.success-message {
    color: green;
    font-size: 10px;
    margin: 0;
}

.description {
    text-align: left;
    margin: 0 0 0 0;
    color: #803503;
}

h1 {
    text-align: center;
    color: #803503;
    margin-top: 0;
}

button {
    margin-top: auto;
    max-width: 100px;
    align-self: center;
    cursor: pointer;
    background-color: #803503;
    color: #FFEFE1;
}