.profile-card {
    border: 5px solid #DDB79E;
    border-radius: 12px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: #FFFBFB;
    color: #803504;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 100%;  
    width: 100%;
    position: relative;
    box-sizing: border-box; 
    transition: all 0.3s ease; 
}

.profile-pic {
    width: 100px;
    border-radius: 50%;
    display: block;
    margin-bottom: 10px;
    margin: auto;
    border: 2px solid #803504;
    
}

.profile-card h1 {
    text-align: center;
    font-size: 20px;
    padding: 12px;
    height: auto; 
    word-wrap: break-word;  
    overflow-wrap: break-word;
}

.profile-card p {
    border: 1px solid #803503;
    border-radius: 6px;
    padding: 10px;
    font-size: 1rem;
    text-align: left;
    margin: 10px;
    height: auto;
    word-wrap: break-word; 
    overflow-wrap: break-word;
}

.profile-card p.user-info {
    font-size: 1rem; 
}

.profile-card strong {
    font-size: 1rem;
}
.bookwormlevel{
    border: 1px solid #803503;
    padding: 8px;
    border-radius: 50%;
    margin: 6px, 4px, 0, 0;
    display: inline-flex; 
    justify-content: center; 
    align-items: center;
}
/* Tablets */
@media (max-width: 1024px) {
    .profile-card {
        width: 100%;
    }

    .profile-pic {
        width: 90px; 
    }

    .profile-card h1 {
        font-size: 19px;
    }

    .profile-card p {
        font-size: 0.9rem;
    }

    .profile-card strong {
        font-size: 0.9rem;
    }

    .profile-card p.user-info {
        font-size: 0.9rem;
    }
}


/*Mobile */
@media (max-width: 768px) {
    .profile-card {
        width: 95%; 
    }

    .profile-pic {
        width: 80px; 
    }

    .profile-card h1 {
        font-size: 18px; 
    }

    .profile-card p {
        font-size: 0.7rem;
    }

    .profile-card strong {
        font-size: 0.7rem;
    }

    .profile-card p.user-info {
        font-size: 0.7rem;
    }
}

/* Desktop */
@media (min-width: 1025px) {
    .profile-card {
        max-width: 300px;
        margin: 20px; 
    } 
    }

    .profile-pic {
        width: 100px; 
    }

    .profile-card h1 {
        font-size: 20px;
    }

    .profile-card p {
        font-size: 14px;
    }


@media (prefers-color-scheme: dark) {
    .profile-card {
        border: 1px solid #180a01;
        background-color: #381508;
    }

    .profile-pic {
        border: 2px solid #2b1201;
    }


    .profile-card p {
        border: 1px solid #180a01;
        background-color: #2b1201;
    }

    .bookwormlevel {
        border: none;
    }
}