.footer {
position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #f4dbbc;
  color: white;
  text-align: center;
  margin-top: 10px;
  padding: auto;
}

@media (prefers-color-scheme: dark) {
  .footer {
    background-color: #2b1201;
    color: white;
  }
}