@font-face {
  font-family: 'Cardo';
  src: url('/src/fonts/Cardo/Cardo-Bold.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Josefin Sans';
  src: url('/src/fonts/Josefin_Sans/static/JosefinSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Josefin Sans Bold';
  src: url('/src/fonts/Josefin_Sans/static/JosefinSans-Bold.ttf') format('truetype');
  font-style: bold;
}

@font-face {
  font-family: 'Parisienne';
  src: url('/src/fonts/Parisienne/Parisienne-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

:root {
  width: 100%;
  font-family: 'Josefin Sans', 'Josefin Sans Bold', 'Cardo', 'Parisienne', system-ui, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  justify-content: center;

  color-scheme: light dark;
  color:#2b1201;
  background-color: #FFEFE1;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

strong {
  font-family: 'Josefin Sans', Arial, Helvetica, sans-serif;
  color:#803503;
}

a {
  font-family: 'Josefin Sans', Arial, Helvetica, sans-serif;
  font-weight: 500;
  color: #803503;
  text-decoration: inherit;
}
a:hover {
  color:#a84604;
}

p {
  font-family: 'Josefin Sans', Arial, Helvetica, sans-serif;
  color: #803503;
}

strong {
  font-family: 'Josefin Sans Bold', Arial, Helvetica, sans-serif;
  color: #803503;
  font-weight: 700;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
h1, h2, h3 {
  font-family: 'Cardo', serif;
  color: #803503;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  font-family: 'Josefin Sans', Arial, Helvetica, sans-serif;
  cursor: pointer;
  margin: 0.5rem;
  font-size: 12px;
  background-color: #803503;
  color: #FFEFE1;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin-bottom: 20px;
  font-size: 1rem;
}

button:hover {
  border-color: #a84604;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

textarea {
  font-family: 'Josefin Sans', Arial, Helvetica, sans-serif;
  font-size: 1rem;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #803503;
}

input {
  font-family: 'Josefin Sans', Arial, Helvetica, sans-serif;
  font-size: 1rem;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #803503;
}

label {
  font-family: 'Josefin Sans', Arial, Helvetica, sans-serif;
  font-size: 1rem;
  color: #803503;
}

select {
  font-family: 'Josefin Sans', Arial, Helvetica, sans-serif;
  font-size: 1rem;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #803503;
}

/* ei viel dark mode

@media (prefers-color-scheme: dark) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
  */
