:root {
  width: 100%;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  justify-content: center;

  color-scheme: light dark;
  color:#2b1201;
  background-color: #FFEFE1;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

strong {
  color:#803503;
}

a {
  font-weight: 500;
  color: #803503;
  text-decoration: inherit;
}
a:hover {
  color:#a84604;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
h1, h2, h3 {
  color: #803503;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  cursor: pointer;
  margin: 0.5rem;
  font-size: 12px;
  background-color: #803503;
  color: #FFEFE1;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin-bottom: 20px;
  font-size: 1rem;
}

button:hover {
  border-color: #a84604;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* ei viel dark mode

@media (prefers-color-scheme: dark) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
  */
