.single-book h3 {
    color: #803503;
    margin-top: 0;
    text-align: left;
}

.single-book {
    border: 1px solid #803503;
    border-radius: 6px;
    margin: 0.5rem;
    background-color: floralwhite;
    padding: 15px;
}

.single-book .title {
    display: flex; 
    align-items: baseline;
    padding: 2px 5px 0.5px 5px;
}

.single-book .title p {
    padding-left: 1rem;
}

.single-book .info {
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    padding: 0.5px 5px 2px 5px;
}

.single-book p {
    font-size: 16px;
    margin: 0;
}

.single-book .stars {
    font-size: 1.5rem;
}