.settings-container {
    border: 2px solid #DDB79E;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: #FFFBFB;
    color: #803504;
    font-family: Arial, Helvetica, sans-serif;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

input, textarea {
    width: 90%; 
    padding: 10px; 
    font-size: 16px; 
    border: 1px solid #803504; 
    border-radius: 5px; 
    background-color: #f3e8de; 
    margin: 5px 0 15px 0;
}
    
.description {
    text-align: left;
    color: #803503;
}

.settings-button{
    background-color: #803503;
    color: #FFEFE1;
}