p {
    margin-bottom: 1rem;
}

@media (prefers-color-scheme: dark) {
    .help-div button {
        background-color: #381508;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
      }
    
      .help-div button:hover {
        background-color: #180a01;
      }
}